<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
  <div id="key">
    <div id="handle"></div>
    <div id="stem"></div>
    <div id="wards">
      <div class="ward"></div>
      <div class="ward"></div>
      <div class="ward"></div>
    </div>
  </div>

  <div id="styles">
    <style>
      html, body {
      	width: 100px;
      	height: 100px;
      	margin: 0;
      	font: 4px sans-serif;
      	line-height: 4px;
      	word-wrap: break-word;
      }
      #key div, #styles div { margin-left: 10px;}
    </style>
    <link rel="stylesheet" type="text/css" href="/weeby/key.css">
    <style>
      #key #stem {
        overflow: visible;
        width: 0;
        background: purple !important;
        white-space: nowrap;
      }
    </style>
  </div>
</body>
</html>